.App-logo{
  height: 50px;
  width: 50px;
}
.navBar{
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navBarContenedorItms{
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}